.ContentMain{
    min-width: 1080px;
    box-sizing: border-box;
}
body{
    background-color: #cdf1ff;
}
h1{
    color: #3e91df;
}
.column {
    background-color: gray;
    border: 2px solid #fff;
    width: 80px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}.column2 {
    width: 59px;
    height: 60px;
}

.block {
    box-sizing: border-box;
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.block2 {
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #fff;
}

.columnX {
    background-color: none;
    width: 80px;
    height: 90px;
}

.topBorder {
    display: flex;
    justify-content: space-between;
}


.metals{
    background-color: rgb(188, 187, 187);
    width: 57%;
}
.noMetals{
    background-color: rgb(188, 187, 187);
    width: 32%;
}

.metaloide {
    position: relative;
    height: 95px;
    top: -1.6rem;
}

.Nonmetal {
    background-color: #8db988;
}

.Noblegas {
    background-color: #a9c9e6;
}

.Lanthanide{
    background-color: #df9c60;
}

.Alkalineearthmetal {
    background-color: #d7a1c5;
}

.Alkalimetal {
    background-color: #bea1c7;
}

.Transitionmetal {
    background-color: #e8bb56;
}
.Metalloid {
    background-color: #d5da65;
}
.Post-transitionmetal {
    background-color: #f4da3a;
}
.Halogen {
    background-color: #a0cac7;
}
.Actinide {
    background-color: #d9947f;
}
