.column {
    background-color: gray;
    border: 2px solid #fff;
    width: 80px;
    height: 90px;
    text-align: center;
}

.columnX {
    background-color: none;
    border: 2px solid #fff;
    width: 80px;
    height: 90px;
}


.Nonmetal {
    background-color: #8db988;
}

.Noblegas {
    background-color: #a9c9e6;
}

.Lanthanide{
    background-color: #df9c60;
}

.Alkalineearthmetal {
    background-color: #d7a1c5;
}

.Alkalimetal {
    background-color: #bea1c7;
}

.Transitionmetal {
    background-color: #e8bb56;
}
.Metalloid {
    background-color: #d5da65;
}
.Post-transitionmetal {
    background-color: #f4da3a;
}
.Halogen {
    background-color: #a0cac7;
}
.Actinide {
    background-color: #d9947f;
}
